streamlit-elements==0.1.*
st-pages
streamlit-disqus
termcolor
sentence_transformers
streamlit 
chainlit
langchain
openai 
wikipedia
chromadb
tiktoken
streamlit-chat
transformers
huggingface-hub
einops
accelerate
bitsandbytes
pypdf
unstructured
together
huggingface_hub
elasticsearch
pinecone-client
unstructured
pinecone-client 
gradio